/* Challenge 2: Use w3SchoolsMockUp.png to help you write the necessary CSS rules.
   Hint: Remember all the fundamental CSS rules when working with flexboxes */
   .container{
      display: flex;
      font-family: Arial, Helvetica, sans-serif;
   }
   h3{
      flex:1
   }
   h4{
      flex:1
   }
   #bar{
      display:flex;
      background-color: green;
      color:aliceblue;
   }
#hello{
   flex:1;
   flex-direction: column;
}
.center{
   display:flex;
}
.body{
   text-align: center;
   justify-content: bottom;
   flex:14;
   display: flex;
   max-height: 100;
}
#html{
   flex:1;
   justify-content: bottom;
}
#SC{
   flex:1;
   justify-content: bottom;
}
#learn{
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  flex:1;
   flex-direction: column;
   display: flex;
}
#bottom{
   align-items: bottom;
   background-color: green;
   flex:1
}
 
#copyright{
   flex:1
}